@media screen and (max-width: 991px) and (min-width: 300px) {
  .header_link {
    visibility: hidden;

  }

  .menu_line1, .menu_line2 , .menu_line3 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px 0;

    transition: 0.4s;
  }

 
  .change .menu_line1 {
    transform: translate(0, 3px) rotate(-45deg);
  }

  .change .menu_line2 {
    opacity: 0;
  }

  .change .menu_line3 {
    transform: translate(0, -11px) rotate(45deg);

  }
}
  @media screen and (max-width: 768px) and (min-width: 0px) {

    .header_link {
      display: none;
    }

    .search_logo {
      width: 200px;
    }
  }
  @media screen and (max-width: 420px) and (min-width: 0px) {

   .search_logo{
    display: none;
   }
  }