/* @media screen and (max-width: 900px) and (min-width: 600px) {
  .parent_div_header {
    font-size: 50px;
    padding: 50px;
    border: 8px solid black;
    background-color: yellow;
  }
} */